@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#projectDiv{
	width: 20%;
	border-right: 1px solid black;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 1.5em;
}

.heading {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	margin: 15px;
}

#projectAdd {
	color: white;
	transition: 1s all;
}

#projectAdd:hover{
	transform: rotate(360deg);
	font-size: 1.4em;
}

.projectName{
	margin: 10px;
}

#taskDiv {
	width: 100%;
}
.task{
	margin: auto;
	padding: 10px;
	border-top: 1px solid black;
	width: 80%;
	margin-top: 5px;
	text-align: center;
	position: relative;
}

.task *{
	margin: 10px;
}

.projectName:hover{
	color: red;
	cursor: pointer;
}

.modal {
	z-index: 1;
	width: 100%;
	height: 0px;
	background-color: white;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	transition: all 1s;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.formInput {
	width: 80%;
	padding: 0px;
	height: 0px;
	border: 1px solid black;
	transition: all 1s;
}

.addButton {
	opacity: 0;
	transition: all 0.5s;
}

.finished{
	opacity: 0.5;
	color: gray;
	border-top: 1px solid gray;
}

.dueDate{

}

.priority{
}

.isDone{
	
}

.smallInfo{
	display: inline-block;
	margin-right: 20px;
}	

.fa-times{
	position: absolute;
	top: 0;
	right: 3px;
}

.fa-check{
	position: absolute;
	top: 20%;
	right: 0;
}

.fas{
	cursor: pointer;
}